.main-anuncie {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.anuncie{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    width: 80%;
    margin-top: 8%;
    gap: 30px;

    .anuncie-info{
        margin-bottom: 3%;

        & h1{
        font-size: 2.5rem;
    }

    }
    
    & .form-completo{
        display: flex;
        flex-direction: column;
        align-items: space-between;
        width: 100%;

    }   & input{

        margin: 1.5%;
        color: var(--cor-secundaria);
        padding: 1% 2% 1% 2%;
        width: 25%;
        border: none;
        border-radius: 10px;

        }
}

.form-dados-veiculo, .form-dados-pessoais, .form-fotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn-anunciar{
    margin: 1.5%;
    display: flex;
    justify-content: center;
    width: 25%;
}

.form-fotos{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#Fotos-veiculo{
    margin: 0;
    margin-top: 20px;
    width: 40%;
    color: var(--cor-destaque);
}

.input-fotos::file-selector-button {  
    transition: 0.2s;
    background: #0000005e;
    backdrop-filter: blur( 7px );
    color: white;
    padding: 15px 36px;
    border: 2px solid var(--cor-destaque);
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    font-weight: 800;
}

.input-fotos::file-selector-button:hover{
    transform: scale(1.02);
}
