
.conteiner{
  max-width: 100vw;
  height: 100vh;
}

.cont1{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  .cont-destaque{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .txt-destaque{
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      & h1{
        line-height: 6rem;
        font-size: 5rem;
        margin-bottom: 1rem;
      }

      & .button{

        border-radius: 20px;
      }

    }

    & .img-destaque{
      transform: translateX(30%);
      width: 50%;
    }
  
}

}

.cont2{
  width: 80%;
  margin: 0 auto;

  & h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .btn-modelos{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  }
}

.cont-destaque-semanal{
  display: flex;
  gap: 4rem;
  margin-bottom: 4rem;

  & .img-destaque-semanal{
    position: relative;
    width: 60%;
    height: 50vh;

    border: none;
    border-radius: 25px; /* Bordas arredondadas */
    overflow: hidden;    /* Garante que a imagem não vaze as bordas */
    display: flex;

    & img{
    
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  } 

  & .txt-destaque-semanal{

    position: relative;
    width: 30%;
    height: 50vh;

    border: none;
    border-radius: 25px; /* Bordas arredondadas */
    overflow: hidden;    /* Garante que a imagem não vaze as bordas */
    
    .txt{
      position: absolute;
      z-index: 2;
      padding: 4rem;
      text-align: justify;
      color: white;
      font-size: 1rem;
      font-weight: bold;

      h3{
        font-weight: 800;
        text-align: center;
        margin-bottom: 1rem;
      }
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      opacity: 0.8;
    }

    img {
      width: 100%;
      height: 100%; 
      object-fit: cover;
    }
  }
}
