@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/heading-now-trial');


:root{

    /* CORES */

    --cor-destaque: rgb(255, 255, 255);
    --cor-secundaria: #0c0c0cff;
    --cor-bg: rgb(10, 10, 10);
    --cor-fonte: rgb(255, 255, 255);
    --cor-fonte-2: rgb(195, 195, 195);

    /* FONTES */

    --fonte-destaque: 'Heading Now Trial', sans-serif;
    --fonte-padrao: 'Poppins', sans-serif;

}