/* PROJETO BASE NO FIGMA !

https://www.figma.com/design/XFJB6um0g56LWYet3hkjFh/NextCar?node-id=5-2&p=f&t=fjZKA6VBg1nXhyg5-0*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

  font-family: var(--fonte-padrao);
  font-weight: 500;
  color: var(--cor-fonte);

}

h1{
  font-family: var(--fonte-destaque);
  font-weight: 700;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  background: var(--cor-bg);
  background: linear-gradient(
    135deg,
    var(--cor-secundaria) 25%,
    var(--cor-bg) 25%,
    var(--cor-bg) 50%,
    var(--cor-secundaria) 50%,
    var(--cor-secundaria) 75%,
    var(--cor-bg) 75%,
    var(--cor-bg)
  );
  background-size: 40px 40px;

  animation: move 5s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.button {
  background: transparent;
  backdrop-filter: blur( 10px );

  display: flex;
  align-items: center;
  height: 35px;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--cor-destaque);
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--cor-destaque);

}
.button:hover {
    color: var(--cor-secundaria);
    transform: scale(1.1);
    outline: 2px solid var(--cor-destaque);
    box-shadow: 4px 5px 17px -4px var(--cor-destaque);
    & .icon-btn{
      color: var(--cor-secundaria);
    }

}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--cor-destaque);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}

.efeito-vidro{
  background: rgba(18, 18, 18, 0.311);
  box-shadow: 0 8px 32px 0 rgba(53, 53, 53, 0.37);
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 1px );
  border: 1.8px solid rgba(255, 255, 255, 0.192);

}

